.container {
    
    background-color: rgb(77, 106, 125);
    text-align: center; 
    border: 2px solid rgb(72, 134, 136);
    border-radius: 10px;
    margin: 0 auto; 
    width: 15%; 
    margin-top: 30px;
    padding-bottom: 10px;
}

.input{
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.button{
    align-items: center;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(72, 134, 136);
    border-radius: 5px;
    margin: 3px;
    width: 30px;
}

#m{
    background-color: rgb(239, 200, 142);
    border: 2px solid rgb(72, 134, 136);
    border-radius: 20px;
}